/* styles.css */

body {
    background-color: rgba(19, 53, 104, 0.458);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .game-container {
    text-align: center;
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin: 3rem auto;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: #f0f0f0;
    border: 1px solid #333;
    cursor: pointer;
  }
  
  .status {
    margin: 10px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .reset-button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #263484;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  
  footer {
    text-align: center;
    width: 100vw;
    background-color: #2e5ba467;
    position: fixed;
    bottom: 0;
    border-top: solid black 3px;

  }

  header {
    text-align: center;
    width: 100vw;
    background-color: #2e5ba467;
    position: fixed;
    top: 0;
    border-bottom: solid black 3px;
  }